.TestimonialsPage {
  position: absolute;
  height: 588px;
  width: 100%;
  left: 0;
  background: linear-gradient(to right, #081C56, #42A5F5);
  z-index: 12;

  .square-wrapper{
    width: 100%;
    position: relative;
  }
  .blue-square{
    position: absolute;
    display: block;
    width: 518px;
    height: 516px;
    border-radius: 40px;
    background-color: #00BCD4;
    right: 200px;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 1;
  }
  .black-square{
    position: absolute;
    display: block;
    right: 0;
    top: -150px;
    z-index: 2;
  }
  .service-image{
    display: block;
    position: absolute;
    right: 80px;
    top: 120px;
    z-index: 13;
    width: 500px;
  }
  .testimonials-title{
    text-align: left;
    font-size: 60px;
    margin: 20px auto 0 130px;
    font-weight: 600;
    color: rgba(187, 222, 251, 1)

  }
  .testimonials-items-wrapper{
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-top: 50px;

  }
  .item-block{
    z-index: 15
  }
  .item-block-wrapper{
    width: 200px;
    background-color: #303030;
    padding: 30px;
    border-radius: 40px 40px 40px 0px;
    border: 1px white solid;
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    .item-block-text{
      color: #ecdede;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .stars{
    margin-top: 35px;
    display: flex;
    width: 150px;
    justify-content: space-between;
    img{
      width: 25px;
    }
  }
  .client-item-block{
    display: flex;
    margin-top: 25px;
    img{
      width: 50px;
      border-radius: 100%;
    }
  }
  .client-data{
    margin-left:15px;
    margin-top: 5px;
    .client-name{
      color: white;
      font-weight: 600;
      font-size: 18px;
    }
    .client-position{
      color: white;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

