.MenuView {
  width: 100%;
  height: 156px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 12;

  .menu-right{
    width: 80%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    right: 50px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    .right-group{
      display: flex;
      gap: 12px;
    }
    input{
      width: 233px;
      height: 52px;
      border-radius: 39px;
      border: none;
      padding-left: 30px;
      color: black;

    }
    .menu-button{
      width: 157px;
      height: 54px;
      color: #EF2779;
      background-color: white;
      border: none;
      border-radius: 35px;
      font-weight: 600;
      font-size: 16px;
    }
    
  }
}
